@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white antialiased;
}

.container {
  @apply mx-auto w-full max-w-6xl px-4;
}
